body {
	background:#fff;
	color:#000;
	font-family:arial, helvetica, sans-serif;
	font-size:1em;
}

h1 {
	font-size:2em;
	text-align:center;
}

/*img {
	margin:auto;
	text-align:center;
	display:block;
}*/